<!DOCTYPE html>
<html lang="en">
<head>
    <title>Noted Academy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>

<body>
    <h1>Let's create something amazing guys!</h1>
</body>
</html>